/* Global Styles
/* --------------------------------------------- */

:root {
  /* School Colors */
  --school-primary: #0b1c3a;
  --school-primary-light: #0d2e52;
  --school-secondary: #9ad9ea;
  --school-tertiary: #db9820;


  /* Neutral Colors */
  --white: #ffffff;
  --black: #000000;
  --grey: #bbd1f0;
}

/*Default page styles*/

html {
  width: 100%;
  min-height: 100%;
  background-color: var(--school-primary);
}

body {
  background-color: var(--school-primary);
  margin: 0;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  min-height: 100vh;
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

/* Navbar Styles
/* --------------------------------------------- */

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background: var(--school-primary);
  color: var(--white);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.navbar .header-container {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  padding: 10px 2.5rem;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* Logo and Title Styles
/* --------------------------------------------- */
.title-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  margin-top: 10px;
}

#school-title {
  font-size: 100%;
  font-weight: 700;
}

#school-subtitle {
  color: var(--school-secondary);
  font-size: 0.9rem;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
  position: relative;
  top: -1rem;
}

/* Navigation Links Styles
/* --------------------------------------------- */
.nav-links {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.nav-links a {
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
  padding: 9px 16px;
  border-radius: 40px;
  transition: all 0.2s;
}

.nav-links a:hover {
  background: var(--school-tertiary);
  color: var(--school-primary);
}

/* Footer Styles
/* --------------------------------------------- */
.footer {
  background: var(--school-primary);
  color: var(--school-secondary);
  text-align: center;
  width: 100%;
  border-top: 5px solid var(--school-tertiary);
  padding: 2.5px 2.5px;
  padding-bottom: 2rem;
}

.footer-container {
  max-width: 1400px;
  margin: 0 auto;
}

.footer-socials {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 20px;

}

.footer-socials a {
  font-size: 1.5rem;
  transition: all 0.2s;
  color: var(--white);
}

.footer-socials a:hover {
  color: var(--school-tertiary);
}
