/* Global Styles
/* --------------------------------------------- */

:root {
  /* School Colors */
  --school-primary: #0b1c3a;
  --school-primary-light: #0d2e52;
  --school-secondary: #9ad9ea;
  --school-tertiary: #db9820;
  --school-tertiary-dark: #b87c1a;

  /* Neutral Colors */
  --white: #ffffff;
  --black: #000000;
  --grey: #bbd1f0;
  --line: #dce3eb;
}

/*Default page styles*/

html {
  width: 100%;
  min-height: 100%;
  background-color: var(--school-primary);
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scroll-padding-top: var(--navbar-height);
}

body {
  background-color: var(--school-primary);
  margin: 0;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
